@import "tailwindcss";

:root {
  --dark: #0a0a0a;
  --less-dark: #242424c4;
  --light: #eaeaea;
  --less-light: #e7e7e7db;

  --background: #ffffff;
  --foreground: #171717;

  --primary: #2982ff;
  --primary-darker: #1661c9;
  font-size: small;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-dark: var(--dark);
  --color-less-dark: var(--less-dark);
  --color-light: var(--light);
  --color-less-light: var(--less-light);
  --color-color1: var(--color1);

  --color-primary: var(--primary);
  --color-primary-darker: var(--primary-darker);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-quicksand: var(--font-quicksand);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.Navbar {
  @apply flex flex-row items-center justify-between w-full py-6 pb-4 px-60;
  .navButton {
    @apply text-foreground mx-6 py-4 font-semibold uppercase;
  }
  .navButton:hover {
    @apply text-less-light;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

section {
  @apply flex flex-col;
}

.section {
  @apply h-full py-40 px-40;
}

.bright-section {
  h1,
  h2 {
    @apply text-dark;
  }
  p {
    @apply text-less-dark;
  }
}

.dark-section {
  h1,
  h2 {
    @apply text-light;
  }
  p {
    @apply text-less-light;
  }
}

h1 {
  @apply font-quicksand font-bold text-6xl;
}

h2 {
  @apply font-quicksand font-semibold text-5xl;
}

h4 {
  @apply text-3xl;
}
h6 {
  @apply text-xl font-semibold;
}

p {
  @apply text-lg;
}

.button1 {
  @apply p-4 py-3 bg-primary rounded-sm text-white;

  &:hover {
    @apply bg-primary-darker;
  }
}

.button2 {
  @apply p-4 py-3 outline-2 outline-gray-200 rounded-sm;
}

.button3 {
  @apply p-4 py-3 outline-2 outline-white bg-white rounded-sm text-dark transition-all;
  &:hover {
    @apply text-light;
  }
}

.card1 {
  @apply flex flex-col justify-center items-baseline text-left bg-gray-100 px-4 py-12 rounded-xl transition-all;
  h2 {
    @apply text-primary font-semibold py-4;
  }
  h4 {
    @apply text-2xl;
  }
  p {
    @apply text-less-dark text-lg w-10/12;
  }
  &:hover {
    @apply bg-primary;
    h2,
    h4 {
      @apply text-foreground;
    }
    p {
      @apply text-white;
    }
  }
}

.iconCard1 {
  Image {
    @apply outline-2 outline-gray-500 rounded-full p-8;
  }
  a {
    @apply m-4 p-8 border-b-2 border-gray-500;
  }
}
